* {
  box-sizing: border-box;
}
.Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 256px;
  flex-wrap: wrap;
}

.Box {
  width: 60px;
  height: 60px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
  transition: all 500ms;
}

.Open {
  transform: rotateY(180deg);
}

.Win {
  background: blue;
  transform: rotateY(180deg);
}

.gameOver {
  font-size: 36px;
  font-weight: 700;
  background-color: bisque;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid;
  width: 244px;
  text-align: center;
  cursor: pointer;
}

.gameOverContent {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: #0005;
  display: flex;
  justify-content: center;
  align-items: center;
}
